<header>
  <nav class="navbar navbar-expand-sm sticky-top navbar-light bg-#fff my-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav4">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'SERVICE', {anchor:'service-logo'}, class: 'service-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'WORKS', {anchor: 'works-logo'}, class: 'works-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Reels', {anchor: '#'}, class: 'reels-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'FLOW', {anchor: 'flow-logo'}, class: 'flow-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'CONTACT', {anchor: 'contact-logo'}, class: 'contact-link' %>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="catch-area col-md-12">
      <div class="catch-image col-md-12">
        <img src="assets/top-image.png" class="catch-image">
      </div>
      <p class="catch-1">
        <img src="assets/design-logo.png" class="catch-design" alt="デザイン性の高いWebサイトを作るならReels">
      </p>
      <p class="catch-2">
        <img src="assets/usability-logo.png" class="catch-usability" alt="利便性が高いWebサイト">
      </p>
      <h1 class="catch-3">
        <img src="assets/slogan-logo.png" class="catch-slogan" alt="お客様らしさを大切にしたWeb制作">
      </h1>
      <p class="catch-pc-area">
        <img src="assets/headPcSP.png" class="catch-pc" alt="PC・スマートフォンに対応したホームページ">
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="explanation-area col-md-12">
      <p><img src="assets/book-image.png" class="book-image" alt="ウェブコンサルティング"></p>
      <h1 id="service-logo">
        <img src="assets/service-logo.png" class="service-image" alt="リールスのWebサービス">
      </h1>
      <p class="service-text text-center">Webサイトの企画から<br>デザイン・制作・システム開発をはじめ、<br>公開後の更新・運用まで<br>トータルにサポートします。</p>
    </div>
    <div class="service-solid">
    </div>
    <div class="section-area col-md-12">
      <div class="section01 col-md-12 text-center">
        <img src="assets/steptext-01.png" class="steptext-01" alt="リールスのWeb制作プラン">
        <p class="plan01">
          <img src="assets/serviceimg-01.png" class="service-01" alt="プラン画像１">
        </p>
        <p class="plan02">
          <img src="assets/serviceimg-02.png" class="service-02" alt="プラン画像１">
        </p>
      </div>
      <div class="section02 col-md-12 text-center">
        <img src="assets/steptext-02.png" class="steptext-02" alt="リールスのWeb制作デザイン">
        <p class="plan03">
          <img src="assets/serviceimg-03.png" class="serviceimage-03" alt="プラン画像１">
        </p>
        <p class="plan04">
          <img src="assets/serviceimg-04.png" class="serviceimage-04" alt="プラン画像１">
        </p>
        <p class="plan05">
          <img src="assets/serviceimg-05.png" class="serviceimage-05" alt="プラン画像１">
        </p>
      </div>
      <div class="section03 col-md-12 text-center">
        <img src="assets/steptext-03.png" class="steptext-03" alt="リールスのWeb制作ファンクション">
        <p class="plan06">
          <img src="assets/serviceimg-06.png" class="serviceimage-06" alt="プラン画像１">
        </p>
        <p class="plan07">
          <img src="assets/serviceimg-07.png" class="serviceimage-07" alt="プラン画像１">
        </p>
        <p class="plan08">
          <img src="assets/serviceimg-08.png" class="serviceimage-08" alt="プラン画像１">
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="works-area col-md-12">
      <p><img src="assets/works-bar.png" class="works-bar" alt="ウェブコンサルティング"></p>
      <h1 id="works-logo">
        <img src="assets/works-logo.png" class="works-image" alt="リールスのWebサービス">
      </h1>
      <p class="works-text text-center">過去に担当させていただいた<br>制作事例の一部を掲載しています。<br>より多くの事例をご覧になりたいお客様は、<br>お問い合わせください。</p>
    </div>
    <div class="works-solid">
    </div>
    <div class="ipad-logo">
      <img src="assets/ipad-logo.png" class="ipad-image" alt="ipad画像" >
    </div>
    <div class="swiper-text">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="assets/slide-image1.png" class="slide-1" alt="スライド画像１"></div>
        <div class="swiper-slide"><img src="assets/slide-image2.png" class="slide-2" alt="スライド画像２"></div>
        <div class="swiper-slide"><img src="assets/slide-image3.png" class="slide-3" alt="スライド画像３"></div>
        <div class="swiper-slide"><img src="assets/slide-image4.png" class="slide-4" alt="スライド画像４"></div>
        <div class="swiper-slide"><img src="assets/slide-image5.png" class="slide-5" alt="スライド画像５"></div>
        <div class="swiper-slide"><img src="assets/slide-image6.png" class="slide-6" alt="スライド画像６"></div>
      </div>
    </div>
    <script>
        var mySwiper = new Swiper ('.swiper-text', {
          loop: true,
          effect: 'fade',
          speed: 2000,
          autoplay: {
            delay: 2000,
            disableOnInteraction: false
          },
        });
    </script>
    <div class="container-fluid">
      <div class="row">
        <div class="blue-area col-md-12">
          <div class="container">
            <div class="row">
              <div class="image-text1 col-md-4">
                <img src="assets/slide-image1.png" class="slide-image1" alt="サンプル画像１">
              </div>
              <div class="image-text2 col-md-4">
                <img src="assets/slide-image2.png" class="slide-image2" alt="サンプル画像２">
              </div>
              <div class="image-text3 col-md-4">
                <img src="assets/slide-image3.png" class="slide-image3" alt="サンプル画像３">
              </div>
              <div class="image-text4 col-md-4">
                <img src="assets/slide-image4.png" class="slide-image4" alt="サンプル画像４">
              </div>
              <div class="image-text5 col-md-4">
                <img src="assets/slide-image5.png" class="slide-image5" alt="サンプル画像５">
              </div>
              <div class="image-text6 col-md-4">
                <img src="assets/slide-image6.png" class="slide-image6" alt="サンプル画像６">
              </div>
            </div>
          </div>
          <div class="flow-area col-md-12">
            <p><img src="assets/flow-image.png" class="flow-image" alt="ウェブコンサルティング"></p>
            <h1 id="flow-logo">
              <img src="assets/flow-logo.png" class="flow-catch" alt="リールスのWebサービス">
            </h1>
            <p class="flow-text text-center">過去に担当させていただいた<br>制作事例の一部を掲載しています。<br>より多くの事例をご覧になりたいお客様は、<br>お問い合わせください。</p>
          </div>
          <div class="flow-solid">
          </div>
          <div class="container">
            <div class="row">
              <div class="swiper-container">
                <div class="swiper-wrapper" style="margin-left: 70px;">
                  <div class="swiper-slide"><img src="assets/step1-image.png" class="flow-step1" alt="ステップ画像１"></div>
                  <div class="swiper-slide"><img src="assets/step2-image.png" class="flow-step2" alt="ステップ画像２"></div>
                  <div class="swiper-slide"><img src="assets/step3-image.png" class="flow-step3" alt="ステップ画像３"></div>
                  <div class="swiper-slide"><img src="assets/step4-image.png" class="flow-step4" alt="ステップ画像４"></div>
                  <div class="swiper-slide"><img src="assets/step5-image.png" class="flow-step5" alt="ステップ画像５"></div>
                  <div class="swiper-slide"><img src="assets/step6-image.png" class="flow-step6" alt="ステップ画像６"></div>
                </div>
                <div class="swiper-button-prev">
                </div>
                <div class="swiper-button-next">
                </div>
              </div>
            </div>
          </div>
          <script>
              var mySwiper = new Swiper ('.swiper-container', {
                navigation: {
                  nextEl: '.swiper-button-next',
                  prevEl: '.swiper-button-prev',
                }
              });
          </script>
        </div>
        <div class="contact-area col-md-12">
          <p><img src="assets/contact-image.png" class="contact-image" alt="web制作の依頼ならReels"></p>
          <h1 id="contact-logo">
            <img src="assets/contact-logo.png" class="contact-catch" alt="リールスのWebサービス">
          </h1>
          <p class="contact-text1">デザイン・コーディングはいまや<br>Web制作業界のデファクトスタンダードです。</p>
          <p class="contact-text2">リールスでは、加えてシステム開発・アクセス解析などの<br>Web・インターネット媒体だけではなく、<br>カタログや企業情報といった紙媒体の制作や<br>スマートフォンアプリの開発も一貫して行っています。</p>
          <p class="contact-text3">トータルでサポートできる、リールスだからこその企画・提案により、<br>貴社の情報をコンテンツ化し発信していきます。</p>
        </div>
      </div>
    </div>
    <div class="form-area">
      <img src="assets/form-image.png" class="form-image" alt="リールスお問い合わせフォーム">
      <img src="assets/form-background.png" class="form-background" alt="リールスお問い合わせフォーム">
      <div class="container">
        <div class="row">
          <div class="form-explanation">
            <p class="form-caution">Webサイト制作に関するご依頼・お問い合わせを受け付けております。<br>お気軽にご相談ください。(<span>*</span>全必須項目)</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="form-text">
            <%= form_for(@toppage, url: confirm_path) do |f| %>
              <div class="form-group">
                <div class="form1">
                  <%= f.label :name, 'お名前' %><span>*</span>
                  <%= f.text_field :name, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <div class="form1">
                  <%= f.label :email, 'メールアドレス' %><span>*</span>
                  <%= f.text_field :email, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <div class="form1">
                  <%= f.label :phone_number, '電話番号' %><span>*</span>
                  <%= f.text_field :phone_number, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <div class="form1">
                  <%= f.label :message, 'メッセージ' %><span>*</span>
                  <%= f.text_area :message, size: '3x3', class: 'form-control' %>
                </div>
              </div>
              <div class="form-submit">
                <%= f.submit '入力内容確認', class:'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="footer-text col-md-8 offset-md-2 text-center">
        <p>Reels株式会社</p>
        <p>TEL：0123-456-789（代表）/ FAX：0123-445-778</p>
        <p>〒123-4567 大分県別府市内竈５組</p>
        <p class="footer-text-1">COPYRIGHT (C) 2021 Reels. ALL RIGHTS RESERVED.</p>
      </div>
    </div>
  </div>
</footer>