<div class="container">
  <div class="row">
    <div class="change col-6 offset-3 text-center">
      <p>入力変更画面</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="new-text mx-auto">
      <%= form_for(@toppage, url: confirm_path) do |f| %>
        <div class="form-group">
          <%= f.label :name, 'お名前*' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group mt-5">
          <%= f.label :email, 'メールアドレス*' %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group mt-5">
          <%= f.label :phone_number, '電話番号*' %>
          <%= f.text_field :phone_number, class: 'form-control' %>
        </div>
        <div class="form-group mt-5 mb-5">
          <%= f.label :message, 'メッセージ*' %>
          <%= f.text_area :message, size: '2x2', class: 'form-control' %>
        </div>
        <div class="new-submit text-center mt-5 mb-5 position-absolute">
          <%= f.submit '入力内容確認', class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

